.dashboard-module {
  padding-bottom: 100px;

  .dashboard-table {
    td {
      padding: 0;
      text-align: left;
      padding: 10px 0 0 10px;
      vertical-align: top;

      &.selected-date {
        background: #87ceeb;
        a {
          color: #000;
        }
      }
      a {
        display: inline-block;
        height: 100px;
        width: 100%;

        .crew-count {
          float: right;
          font-size: 36px;
          padding: 20px 48px 0 0;
          color: #666;
        }
      }
    }
  }
}
