/* Utility Classes */

.top-bar li>a, .top-bar ul li>a {
  color: #2199e8;
  text-transform: uppercase;
}

.top-bar {
  .button {
    color: white;
    text-transform: none;
  }
}

/* Inline Margins */

.x1 { margin: 1em }
.x2 { margin: 2em }
.x3 { margin: 3em }
.x4 { margin: 4em }
.x5 { margin: 5em }

.x1-top { margin-top: 1em }
.x2-top { margin-top: 2em }
.x3-top { margin-top: 3em }
.x4-top { margin-top: 4em }
.x5-top { margin-top: 5em }

/* Responsive Styles */
