.jobs-search-module {
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 30px;

  button {
    margin-top: 25px;
  }
}

.multi-select {
  width: 420px;
  font-size: 12px;
  border-radius: 0;
}
